<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
	  <typeAliases>
	  <!-- Mapper의 type으로 된 주소들은 모두 alias로 바꿔 쓸 수 있다. -->
	  	<typeAlias type="com.winter.app.regions.RegionDTO" alias="RegionDTO"/>
	  	<typeAlias type="com.winter.app.department.DepartmentDTO" alias="DepartmentDTO"/>
	  	<typeAlias type="com.winter.app.util.Pager" alias="Pager"/>
	  	
	  	<typeAlias type="java.lang.String" alias="String"/>
		<typeAlias type="java.lang.long" alias="Long"/>
	  </typeAliases>
  </configuration>